<footer>
    <div>
        <section>
            <h2>Sobre</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis delectus, in voluptate ab repudiandae
                quasi
                nobis porro inventore optio ad! Officia distinctio et vel ipsam doloremque accusamus quisquam eius
                labore.
            </p>
        </section>
        <address>
            <h2>Contato</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    (00)0000-0000
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>meuemail.@meu.com
                </li>
                <li>
                    <i class="fa-brands fa-whatsapp"></i>(00)0000-0000
                </li>
            </ul>
        </address>
    </div>
    
    <section>
        &copy;Todos os direitos reservados
    </section>
</footer>